.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 20px;
}

/* .product-container,
.order-container {
  border: 2px solid;
} */

.order-container {
  /* text-align: center; */
  background: #1c2b35;
  margin-top: -20px;
  color: white;
}

.order-container h3{
  text-align: center;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media screen and (max-width:1280px){
  .product-container {
    grid-template-columns: auto auto;
  }
}
/* @media screen and (max-width:1200px){
  .product-container {
    grid-template-columns: auto auto;
  }
} */
@media screen and (max-width:950px){
  .product-container {
   display: block;
   margin: auto;
   
  }
  .order-container {
    width: 300px;
  }
}
@media screen and (max-width:750px){
  .shop-container {
    /* grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: column-reverse;
  }
  .order-container {
    width: 100%;
  }
}