.header {
  height: 80px;
  background: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px;
}

.links a {
  text-decoration: none;
  color: white;
  /* margin-left: 35px; */
  font-size: 17px;
  padding: 5px 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}

.links a:hover {
  background: #243e50;
}

@media screen and (max-width: 715px) {
  .header {
    padding: 0 10px;
  }
}
@media screen and (max-width: 555px) {
  .header img{
    width: 100px;
  }

  .links a {
    font-size: 15px;
    padding: 10px;
  }
}
